html {
    scroll-behavior: smooth;
    font-family:Helvetica, sans-serif
}
header {
    background-color: slategray ;
    color: whitesmoke;
    padding: 10px;
}
body {
    background-color: #FEF5EA;
}

main {
    margin: auto;
    width: 60%;
    border: solid thin red;
}
h1 {
    font-size:xx-large ;
}