html {
    scroll-behavior: smooth;
    font-family:Helvetica, sans-serif
}
a {
    text-decoration: none;
}
header {
    background-color: slategray ;
    color: whitesmoke;
    padding: 10px;
}
body {
    background-color: #FEF5EA;
}

.wrapper {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    max-width: 100%;
}

main {
    margin: auto;
    width: 60%;
    
    font-size: larger;
}
h1 {
    font-size:xx-large ;
    font-style: bold;
    color: slategray;
    margin-top: 40px;
    margin-bottom: 40px;
}