html {
    scroll-behavior: smooth;
    font-family:Helvetica, sans-serif
}
a {
    text-decoration: none;
}
header {
    background-color: slategray ;
    color: whitesmoke;
    padding: 10px;
    width: 100%;
    position: fixed;
}
body {
    background-color: #FEF5EA;
    height: 100%;
    width: 100%;
    margin: 0%;
}
.wrapper {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    max-width: 100%;
}
main {
    margin: auto;
    width: 60%;
    font-size: larger;
    padding-top: 80px;
    padding-right: 5%;
}
h1 {
    font-size:xx-large ;
    font-style: bold;
    color: slategray;
    margin-top: 40px;
    margin-bottom: 40px;
}
.right {
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
}
.table_of_contents {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 80px;
}
ul {
    list-style-type: none;
    border-left: solid 3px slategray;
    padding: 4px;
}

.quiz-container {
    width: 100%;
    flex-wrap: flex;
}

div [draggable] {
    border: solid thin black;
    border-radius: 10px;
    padding: 4px;
    margin: 2px;
    width: fit-content;
}
.draggable-items {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    max-width: 100%;
}

.dropbox {
    border: dashed 2px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.active {
    font-weight: bold;
}